.root {}

.root h2 {
  margin: 41px 0 0 71px;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #000000;

}

.root .wrapper {
  position: relative;
  margin: 51px 0px 0 71px;
  width: 968px;
  height: 812px;
  background: #FFFFFF;
  box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
  border-radius: 30px;
}

.root .wrapper .btnMenu {
  position: absolute;
  right: 0;
  top: -51px;
  transform: translateY(-100%);
  cursor: pointer;
  width: 80px;
  height: 29px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  background: #5a32ea47;
  border: 1px solid #5932EA;
  color: #5932EA;
}

.borderTableTop {
  position: absolute;
  top: 166px;
  width: 100%;
  border-bottom: 1px solid #EEEEEE;


}

.root .wrapper header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 131px;
}



.root .wrapper header h3 {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: -0.01em;
  color: #000000;
}

.root .wrapper header p {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #16C098;
}

.root .wrapper header div:first-child {
  padding: 0px 0px 0px 38px;
}

.root .wrapper header input {
  border: unset;
  margin-right: 53px;
  width: 216px;
  height: 100%;
  background: #F9FBFF;
  border-radius: 10px;
  padding: 0px 0px 0px 40px;
  box-sizing: border-box;

  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.01em;
  color: black;
  outline: none;

}

.root .wrapper header input::placeholder {
  color: #B5B7C0;
}

.input {
  display: flex;
  height: 38px;
  position: relative;
}

.input svg {
  position: absolute;
  left: 11px;
  top: 50%;
  transform: translateY(-50%);


}


.table {
  margin: 0px 44px 0px 38px;
}

.tableTop {
  margin-bottom: 15px;
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #B5B7C0;


}

.tableMain {

  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #292D32;
  border-bottom: 1px solid #EEEEEE;
}



.btn {
  cursor: pointer;
  width: 80px;
  height: 29px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  background: #FFC5C5;
  border: 1px solid #DF0404;
  color: #DF0404;
}

.btn.active {

  background: rgba(22, 192, 152, 0.38);
  border: 1px solid #00B087;
  color: #008767;
}



.tableMain .col_1,
.tableMain .col_2,
.tableMain .col_3,
.tableMain .col_4,
.tableMain .col_5 {
  margin: 24px 0px;
}

.col_1 {
  width: 172px;
}

.col_2 {
  width: 131px;
}

.col_3 {
  width: 146px;
}

.col_4 {
  width: 205px;
}

.col_5 {
  width: 152px;
}

.col_6 {
  display: flex;
  width: 80px;
  justify-content: center;
  align-items: center;
}

.tableBottom {
  margin: 32px 40px 0px 38px;
  display: flex;
  justify-content: space-between;
}

.tableBottom p {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #B5B7C0;
}


@media(max-width: 1400px) {
  .root {
    margin: 0 auto;
  }

  .root .wrapper {
    margin: 51px 0px 0 0px;
  }

  .root h2 {
    margin: 41px 0 0 0px;
  }
}

@media(max-width: 1020px) {
  .root {
    display: none;

  }
}