.root {
  position: relative;
  width: 100vw;
  box-sizing: border-box;

  background-color: #FFFFFF;

}

.top {
  position: relative;
  padding: 39.1px 0px 0px 31.45px;
  height: 39px;

  display: flex;
  align-items: center;

}

.top svg {
  margin-right: 11.45px;
}

.header {
  display: flex;

  align-items: baseline;

}

.userName {
  position: absolute;
  right: 31.45px;
}

.header span {
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;


  letter-spacing: -0.01em;

  color: #838383;
}

.root .top h1 {
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
  letter-spacing: 0.01em;
  margin: 0px 4px 0px 0px;
}


.menu {
  margin: 42px 38px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;


}


@media(max-width:485px) {
  .userName {
    position: absolute;
    right: 31.45px;
    top: 100px;
  }

  .menu {
    margin: 65px 38px 30px 38px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;


  }
}
